<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592943199982-mmv0vrd93ao0s8fjrrn4ot69u5o1ema1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592943199982-mmv0vrd93ao0s8fjrrn4ot69u5o1ema1</string>
	<key>API_KEY</key>
	<string>AIzaSyDMczbfmcJrmHZCNBHrxtTY-EUQkTvoXvU</string>
	<key>GCM_SENDER_ID</key>
	<string>592943199982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindful</string>
	<key>PROJECT_ID</key>
	<string>mindful-klgwmv</string>
	<key>STORAGE_BUCKET</key>
	<string>mindful-klgwmv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592943199982:ios:176a75b7c20cf71f8f65ff</string>
</dict>
</plist>